/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * BriscolaSuperamici implementation : © Tommaso Pifferi <p.tommy93@gmail.com> & Antonio <ai6chr+briscola@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * briscolasuperamici.css
 *
 * BriscolaSuperamici stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (briscolasuperamici_briscolasuperamici.tpl), and to HTML elements you create dynamically
    (in briscolasuperamici.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/

@import url(../../../css/csslayer.css); /* Note: you must not use any @import directive other than this one */

/********* You can start writing your CSS below this line: **********/

/** Table layout **/

#wholetable {
    margin: 0 auto;
    max-width: 800px;
    border: 0 solid black;
}

#playertables {
    position: relative;
    width: 550px;
    height: 400px;
    /*height: 409px;*/
    background-image: url('img/green_mat.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}

.playertablecard {
    display: inline-block;
    position: relative;
    margin-top: 5px;
}

.playertablecard.italian {
    height: 123px;
    width: 72px;
}

.playertablecard.french {
    height: 96px;
    width: 72px;
}

.playertablename {
    font-weight: bold;
}

.playertable {
    position: absolute;
    text-align: center;
    width: 130px;
}

.playertable.italian {
    height: 144px;
}

.playertable.french {
    height: 130px;
}

.playertable_N {
    left: 48.5%;
    top: 0;
    margin-left: -65px; /* half of 130 */
}
.playertable_S {
    left: 48.5%;
    bottom: 0;
    margin-left: -65px; /* half of 130 */
}
.playertable_W {
    left: 10px;
    top: 48.5%;
    margin-top: -65px; /* half of 130 */
}
.playertable_E {
    right: 10px;
    top: 48.5%;
    margin-top: -65px; /* half of 130 */
}

.cardontable {
    position: absolute;
}

.cardontable.italian {
    height: 123px;
    width: 72px;
    background-image: url('img/italian-cards.jpg');
    border-left: 2px solid black;
    border-right: 3px solid black;
    border-top: 2px solid black;
    border-bottom: 1px solid black;
}

.cardontable.french {
    height: 96px;
    width: 72px;
    background-image: url('img/french-cards.jpg');
}

#dealer_icon {
    display: block;
    position: absolute;
    width: 32px;
    height: 32px;
    background-image: url('img/dealer-icon.png');
}

#orientation {
    position: absolute;
    text-align: center;
    width: 32px;
    height: 32px;
    left:50%;
    top:50%;
    margin-left: -16px;
    margin-top: -16px;
}

.counterclockwise-icon {
    display: block;
    position: absolute;
    width: 32px;
    height: 32px;
    background-image: url('img/counterclockwise.png');
}

.bordered-card {
    border: 1px solid black !important;
    /*border-left: 2px solid black !important;*/
    /*border-right: 3px solid black !important;*/
    /*border-top: 2px solid black !important;*/
    /*border-bottom: 1px solid black !important;*/
}

/*** Other cards on table ***/

#othercards {
    float: right;
    width: 150px;
    height: 190px;
    position: relative;
    top: 85px;
}

#mydeck_wrap {
    height: 200px;
    width: 130px;
}

#mydeck_wrap.italian {
    height: 217px;
}

.mydeck {
    height: 72px;
    width: 108px;
    position: absolute;
    background-image: url('img/deck-rotated.jpg');
    z-index: 2;
    left: 22px;
}

#remainingcards_wrap {
    position: absolute; /* same as .mydeck */
    top: 48px;
    left: 64px;
    z-index: 3;
    font-size: 24px;
}

#remainingcards_wrap.smaller {
    top: 46px;
    left: 70px;
}

#remainingcards_wrap h4 {
    margin-top: 0;
}

#briscola_wrap {
    position: absolute !important;
    top: 110px;
    left: 40px;
}

#briscola_wrap.italian {
    top: 100px;
}

#briscola_wrap .stockitem {
    z-index: 1;
    cursor: auto !important;
}

/*** My hand ***/

#myhand_wrap {
    width: 235px;
    margin-left: 150px;
    text-align: center;
}

/*** Misc ***/

.tableWindow table {
    width: 100% !important;
    text-align: left !important;
}

.tricks_icon {
    display: inline-block;
    width: 32px;
    height: 22px;
    background-image: url('img/tricks-icon.png');
}

#teammate-hand .stockitem,
#team-tricks-won .stockitem {
    cursor: auto;
}

